.cover {
  max-width: 880px;
  margin: 40px auto 0;
  padding: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #0000;
}

.cover__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.cover__container-image {
  max-width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.cover__text {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  max-width: none;
  margin-bottom: 0;
}

.cover__info {
  gap: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  align-items: baseline;
}

.cover__button {
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px;
}
.cover__button:hover {
  opacity: 60%;
  cursor: default;
}
.cover__button-image {
  padding: 6px;
  max-width: 10px;
}

.cover__name {
  font-family: Inter;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: 0%;
  white-space: nowrap;
  margin-bottom: 0;
}

.cover__role {
  margin-top: 0;
  padding-top: 0px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.cover__plusbutton {
  margin-left: auto;
}

.cover__plusbutton:hover {
  cursor: pointer;
  opacity: 60%;
}

.cover__plusbutton-image {
  max-width: 22px;
  padding: 14px 64px;
  border: 2px solid #fff;
}
