.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  margin-left: 200px;
}

.footer__copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #545454;
}
